.notification{
    overflow-y: auto;
    overflow-x: hidden;
    /* padding: 0 0 0 30px; */
    /* background: rgb(32, 44, 51); */
    padding: 5px;
    flex: 25%;
    position: relative;
}

.notification .notification-body{
    height: 100%;
}

.notification .notification-body .notification-item{
    min-height: 70px;
    height: fit-content;
    margin: 10px;
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: .3s ease-in-out all;
    cursor: pointer;
    position: relative;
}
.notification .notification-body .notification-item button{
    position: absolute;
    bottom: 10px;
    right: 20px;
    outline: none;
    border: none;
    padding: 3px 10px;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: red;
    font-weight: 600;
}
.notification .notification-body .notification-item:hover{
    box-shadow: 1px 1px 3px 1px rgb(46, 235, 46);
}