.addedUser{
    /* background-color: rgb(247, 244, 244); */
    height: 60px;
    min-width: 100%;
    margin: 10px 0;
    display: flex;
    overflow-x: auto;
    align-items: center;

}

.addedUser p{
    /* background: red; */
    padding: 3px 8px;
    height: fit-content;
    margin: 4px 10px;
    border-radius: 8px;
    /* color: white; */
    display: flex;
    border: rgb(68, 67, 67) 1px solid;
}

.addedUser p span{
    cursor: pointer;
    /* color: white; */
    opacity: 0.6;
    margin-left: 10px;
    margin-top: 2px;
}

.chatList{
    /* background-color: yellow; */
    overflow-y: auto;
}

.chatList li{
    border-radius: 15px;
    /* color: white; */
    /* background: red; */
    border: 1px gray solid;
    cursor: pointer;
    margin: 10px;
    padding: 10px 25px;
    list-style: none;
    transition: all ease-in-out 0.1s;
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: space-around; */
}

.chatList li span.add{
    color: white;
    background-color: green;
    position: absolute;
    right: 16px;
    font-size: 10px;
    padding: 6px;
    border-radius: 15px;
}
.chatList li span.remove{
    color: white;
    background-color: red;
    position: absolute;
    right: 16px;
    font-size: 10px;
    padding: 6px;
    border-radius: 15px;
}

.chatList li:hover{
    background-color: rgb(43, 56, 63);
}

.group-modal button{
    background: green;
    color: white;
    outline: none;
    /* font-size: 20px; */
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.profile-pop-up{
    /* background: rgb(32,44,51); */
    height: 500px;
    width: 500px;
    position: absolute;
    top: 60%;
    left: 20%;
    z-index: 50;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(58, 57, 57, 0.6), -2px -2px 4px rgba(58, 57, 57, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.themeModal{
    height: 300px;
    width: 500px;
    /* background-color: rgb(59,74,84); */
    position: absolute;
    top: 20%;
    left: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px gray, -2px -2px 4px gray;
    z-index: 30;
}

.themeModal .theme1{
    flex: 1;
    display: flex;
    align-items: center;
    /* color: white; */
    opacity: .5;
}
.themeModal .theme1 p{
    font-size: 19px;
    margin-left: 15px;
}
.themeModal .theme2{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    /* color: white; */
}
.themeModal .theme2 div{
    padding: 4px;
}
.themeModal .theme2 div span{
    opacity: .6;
}
.themeModal .theme2 div input{
    margin-right: 10px;
    cursor: pointer;
}
.themeModal .theme3{
    flex: 1.4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.themeModal .theme3 div{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.themeModal .theme3 div button{
    height: 56%;
    outline: none;
    cursor: pointer;
}
.themeModal .theme3 div button:nth-child(1){
    /* width: 130px; */
    flex: 1.6;
    margin-right: 6px;
    border: 1px rgb(0,168,132) solid;
    color: rgb(0,168,132);
    background-color: inherit;
}
.themeModal .theme3 div button:nth-child(2){
    flex: 1;
    /* width: 120px; */
    border: none;
    background: rgb(0,168,132);
}

.callAlert{
    height: 40px;
    width: 40%;
    z-index: 40;
    background: teal;
    position: absolute;
    top: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: 20px;
}

.callAlert span{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callAlert .callAlertAction{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.callAlert .callAlertAction button{
    outline: none;
    border: white 1px solid;
    padding: 3px 14px;
    border-radius: 14px;
    cursor: pointer;
}

.callAlert .callAlertAction button:nth-child(1){
    background-color: green;
    color: white;
}
.callAlert .callAlertAction button:nth-child(2){
    background-color: red;

    color: white;
}

