.privacy {
  overflow-y: auto;
  /* padding: 0 0 0 10px; */
  /* background: rgb(32, 44, 51); */
}

.privacy .privacy-item {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  transition: all ease-in-out 0.4;
  cursor: pointer;
  color: white;
  margin: 0 30px;
}
.privacy .privacy-item-text {
  flex: 7;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  margin: 0 10px;
}

.privacy .privacy-item-text span:nth-child(1) {
  font-weight: 200;
}
.privacy .privacy-item-text span:nth-child(2) {
  font-weight: 100;
  font-size: 14px;
  opacity: 0.2;
}

.privacy .privacy-disappear {
  height: 130px;
  border-top: 10px solid rgb(37, 37, 37);
  /* background-color: green; */
  display: flex;
  flex-direction: column;
}
.privacy .privacy-disappear .privacy-item-text {
  flex: 3;
}
.privacy .privacy-disappear p {
  flex: 2;
  margin-top: 20px;
}
