.homepage {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.homepage .header-offset {
  height: 120px;
  width: 100%;
  background-color: transparent;
}

.homepage header {
  height: 120px;
  width: 100%;
  position: fixed;
  background-color: rgb(59, 247, 59);
  display: flex;
}

.homepage header .headerLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage header .headerLeft .logo {
  background-color: white;
  height: 50%;
  width: 80px;
  border-radius: 5%;
  color: rgb(147, 240, 147);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 40px;
  text-decoration: underline;
}
.homepage header .headerRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage header .headerRight button {
  padding: 10px 20px;
  background: white;
  color: rgb(147, 240, 147);
  color: green;
  margin: 0 20px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.homepage main {
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 120px);
  padding: 20px 100px;
}

.homepage main .firstSection {
  height: 80vh;
  width: 100%;
  display: flex;
}
.homepage main .firstSection .firstSectionImage {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage main .firstSection .firstSectionImage img {
  height: 90%;
  width: 90%;
  object-fit: contain;
}
.homepage main .firstSection .firstSectionText {
  flex: 1;
  align-items: center;
  display: flex;
}
.homepage main .firstSection .firstSectionText h1 {
  font-size: 45px;
  font-weight: 600;
}
.homepage main .firstSection .firstSectionText h1 span {
  color: rgb(147, 240, 147);
}

.homepage main .secondSection {
  min-height: 80vh;
  padding: 50px 0 20px 0;
}
.homepage main .secondSection h1 {
  font-size: 60px;
  text-align: center;
}

.homepage main .secondSectionContainer {
  display: flex;
  margin-top: 30px;
  padding: 40px;
}
.homepage main .secondSectionContainer img {
  height: 450px;
  object-fit: contain;
  width: 450px;
  margin-right: 20px;
}
.homepage main .secondSectionContainer .secondSectionContainerText {
  flex: 1;
  display: flex;
  align-items: center;
}
.homepage main .secondSectionContainer .secondSectionContainerText p {
  font-size: 35px;
  padding: 20px;
}
.homepage main .thirdSection {
  min-height: 80vh;
  width: 100%;
  padding: 50px 0 20px 0;
}
.homepage main .thirdSection h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 600;
}

.homepage main .thirdSection .thirdSectionItems {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.homepage main .thirdSection .thirdSectionItems .thirdSectionItem {
  height: 500px;
  width: 60%;
  font-size: 40px;
  margin: 20px;
  text-align: center;
}
.homepage main .thirdSection .thirdSectionItems .thirdSectionItem img {
  height: 60%;
}

.homepage main .fourthSection{
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage main .fourthSection h1{
  text-align: center;
  font-size: 60px;
  font-weight: 600;
}

.homepage main .fourthSection .fourthSectionItem{
  width: 80%;
  height: fit-content;
  min-height: 60px;
  margin: 20px 0;
  position: relative;
}
.homepage main .fourthSection .fourthSectionItem h1{
  font-size: 35px;
  margin: 0 30px;
  text-align: left;
}
.homepage main .fourthSection .fourthSectionItem p{
  font-size: 28px;
  margin: 26px;
}

.homepage main .fifthSection {
  min-height: 60vh;
  width: 100%;
  padding: 50px 0 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.homepage main .fifthSection h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 600;
}
.homepage main .fifthSection button{
    background: green;
    color: white;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    margin: 30px 0;
    cursor: pointer;
    border-radius: 10px;
    height: 30%;
}


.homepage main .fifthSection .enquiry{
    width: 80%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homepage main .fifthSection .enquiry input{
    width: 70%;
    height: 30%;
    margin-right: 20px;
    padding: 0 20px;
    font-size: 18px;
}
.homepage main .fifthSection p{
    font-size: 14px;
    font-style: italic;
}